.bb {
    margin-top: 100px;
     margin-bottom: 100px;
     
   }
   
   #contactus{
     padding-top: 10%;
   }
   
   #submit{
     margin-top: 20px;
     margin-bottom: 20px;
   }
   
   .jumbotron {
    background-position: center;
    background-size: 100%;
   }
   