.cardLook {
    padding-top: 5%;
}

.hover:hover{
    background-color:#20639B;
    color:black;
}

.buildingTitle {
    font-size: 3.75rem;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: black 2px 2px;
    text-align: center;
    margin: auto;
}

.buildingTitle:hover {
    color: #3CAEA3;
    
}